.dialog-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: flex-start;
	justify-content: center;

	overflow: auto;

	z-index: 3210;
}

.dialog-window {
	position: relative;

	margin-bottom: 24px;
	padding: 32px 24px;
	background-color: #333;

	border-radius: 12px;

	box-shadow: 0 15px 32px #000;

	&.w-buttons {
		padding-bottom: 20px;
	}

	&.form {
		padding-left: 16px;
		padding-right: 16px;
	}

	.content-wrap {
		min-width: 300px;
		max-width: 600px;
	}

	&.centered .content-wrap {
		text-align: center;
	}

	&.error {
		background: linear-gradient(#622, #333);
	}

	.close-btn {
		position: absolute;
		top: 16px;
		right: 16px;
		width: 16px;
		height: 16px;

		cursor: pointer;

		svg {
			margin: 2px;
			width: 12px;
			height: 12px;

			line {
				stroke-width: 2;
				stroke: #777;
			}
		}

		&:hover svg line {
			stroke: #999;
		}
	}

	.buttons-wrap {
		display: flex;
		justify-content: center;
		gap: 24px;
		padding: 24px 0 0;
	}

	.button {
		box-sizing: border-box;
		outline: none;
		border: none;

		padding: 8px 12px;
		min-width: 80px;
		border-radius: 5px;

		background-color: #555;

		color: #fff9;
		font-size: 12pt;
		font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Roboto, sans-serif;

		cursor: pointer;

		&:hover {
			background-color: #777;
			color: #fff;
		}

		&:active {
			transform: translate(-1px, 1px);
		}

		&.confirm,
		&.ok {
			background-color: #27c;
			color: #fffc;

			&:hover {
				background-color: #29f;
				color: #fff;
			}
		}

		&.disabled {
			border: #fff2 1px solid;
			padding: 7px 11px;

			background-color: transparent;
			color: #fff2;

			pointer-events: none;
		}
	}

	&.delete .button.confirm {
		background-color: #a33;

		&:hover {
			background-color: #e11;
		}
	}

	.section {
		width: 350px;

		h3 {
			font-size: 14pt;
			margin: 16px 8px 8px;
		}

		.plus-btn {
			display: block;

			outline: none;
			border: none;
			padding: 3px 8px;

			border-radius: 5px;

			background-color: #27c;
			color: #fffc;

			font-size: 10pt;
			font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Roboto, sans-serif;

			cursor: pointer;

			&:hover {
				background-color: #29f;
				color: #fff;
			}
		}

		.input-wrap {

			&:not(:last-child) {
				margin-bottom: 16px;
			}

			.caption {
				display: block;
				padding-left: 8px;
			}

			.txa-wrap {
				display: block;
				position: relative;

				padding-right: 0; // 40px;

				transition: padding-right 0.25s ease-in-out;

				textarea {
					resize: none;
					height: 80px;
					background-color: #fff3;

					border: #fff3 1px solid;

					&:focus {
						border: #fff4 1px solid;
						padding: 7px;
					}
				}

				.msg-del-btn {
					position: absolute;
					top: 0;
					right: 0;
					width: 24px;
					height: 24px;
					opacity: 0;

					border-radius: 5px;

					background-color: #a33;

					cursor: pointer;
					pointer-events: none;

					transition: opacity 0.25s ease-in-out;

					svg {
						margin: 5px 6px;
						height: 14px;

						path {
							fill: #fffc;
						}
					}

					&:hover {
						background-color: #e11;

						svg path {
							fill: #fff;
						}
					}
				}

				.clrs-wrap {
					display: flex;
					flex-wrap: wrap;

					position: absolute;
					bottom: 0;
					right: 0;
					width: 32px;
					height: 32px;
					opacity: 0;

					pointer-events: none;

					transition: opacity 0.25s ease-in-out;

					i {
						box-sizing: border-box;
						display: block;
						width: 16px;
						height: 16px;

						border-width: 1px;
						border-color: #fff3;
						border-style: solid;

						&.tl { border-top-left-radius: 5px; }
						&.tr { border-top-right-radius: 5px; }
						&.bl { border-bottom-left-radius: 5px; }
						&.br { border-bottom-right-radius: 5px; }

						&:not(.selected) {
							cursor: pointer;
						}

						&.selected,
						&:hover {
							border-color: #fffc;
						}

						&.selected {
							pointer-events: none;
						}
					}
				}

				&:hover {
					padding-right: 40px;

					.msg-del-btn,
					.clrs-wrap {
						opacity: 1;
						pointer-events: auto;
					}
				}
			}



			input[type=text],
			textarea {
				box-sizing: border-box;
				display: block;

				outline: none;
				border: #fff3 1px solid;
				border-radius: 5px;

				margin: 4px 0;
				padding: 7px;

				width: 100%;

				background-color: transparent;

				color: #fff9;
				font-size: 12pt;
				font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Roboto, sans-serif;

				&:focus {
					border: none;
					padding: 8px;
					background-color: #fff3;

					color: #fff;
				}

				&::placeholder {
					color: #fff3;
				}

				&.error {
					border: #733 1px solid;

					&:focus {
						border: #f00 1px solid;
						padding: 7px;
					}
				}
			}

			.message {
				margin-top: -20px;
				margin-left: 8px;
				margin-right: 8px;
				height: 20px;
				line-height: 20px;
				overflow: hidden;
				text-overflow: ellipsis;
				pointer-events: none;
				opacity: 0;

				transition-property: opacity margin-top;
				transition-duration: 0.25s;
				transition-timing-function: ease-in-out;

				&.visible {
					margin-top: 0px;
					opacity: 1;
					pointer-events: auto;
				}

				&.error {
					color: #c55;
				}
			}

			// ...
		}

		// ...
	}
}
