@import url(./common.less);

@import url(./dialog.less);

body {
	padding: 120px 0 80px;
	height: auto;
	color: #999;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;

	background-color: #1b1b1bcc;
	backdrop-filter: blur(10px);

	z-index: 3;

	.logo {
		display: block;
		position: absolute;
		top: 12pt;
		left: 50%;
		margin-left: -545px;

		width: 42px;
		height: 56px;

		svg {
			width: 42px;

			path {
				fill: #999;
			}
		}

		@media (max-width: 1190px) {
			margin-left: calc(-100vw / 2 + 50px);
		}
	}

	a.logo:hover path {
		fill: #fff;
	}
}

.list-field {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 46px;
	grid-row-gap: 30px;

	margin: auto auto;
	width: calc(100vw - 100px);
	max-width: 1090px;

	@media (max-width: 800px) {
		grid-template-columns: 1fr;
	}

	.item-wrap {

		.title {
			margin-bottom: 18px;
			font-size: 1.5em;

			&:not(.editable) {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&.editable {
				&:hover,
				&:focus {
					color: #fff;
				}
			}
		}

		.photos-wrap {
			position: relative;

			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: 50% 50%;
			gap: 1px;

			outline: #333 1px solid;

			border-radius: 15px;

			height: 480px;

			background-color: #333;

			overflow: hidden;

			transition-property: transform box-shadow;
			transition-duration: 0.5s;
			transition-timing-function: cubic-bezier(0, 1, 0.2, 1);

			.photo {
				background-color: #1b1b1b;

				&:not(.stub) {
					background-size: cover;
					background-position: 50% 50%;
				}

				&.preload {
					.--preload-bgimg();
				}
			}

			&:after {
				content: ' ';
				display: block;
				position: absolute;

				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				background-color: #000;

				opacity: 0.3;

				transition-property: opacity;
				transition-duration: 0.5s;
				transition-timing-function: cubic-bezier(0, 1, 0.2, 1);
			}

			&:hover {
				box-shadow: 0 10px 30px #000;

				transform: scale(1.05);

				&:after {
					opacity: 0;
				}
			}
		}
	}
}
