@import url(./common.less);

body {
	color: #999;
	overflow: hidden;
}

.logo {
	--height: calc(100vh - 80px);
	--margin-left: calc(var(--height) * 0.6 / -2 - 360px);

	position: absolute;
	display: block;
	top: 12pt;
	left: 50%;
	margin-left: var(--margin-left);
	width: 42px;
	height: 56px;

	svg {
		width: 42px;

		path {
			fill: #999;
		}
	}

	:hover path {
		fill: #fff;
	}

	body.reduced & {
		--margin-left: -180px;
	}
}

.highlight-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.photo-field {
	--height: calc(100vh - 80px);
	--width: calc(var(--height) * 0.6);
	--margin-left: calc(var(--width) / -2);

	position: absolute;
	display: flex;
	justify-content: center;
    align-items: center;

	top: 40px;
	left: 50%;
	margin-left: var(--margin-left);

	width: var(--width);
	height: var(--height);

	body.reduced & {
		--height: calc(100vh - 360px);
	}

	.corner {
		position: absolute;
		width: 64px;
		height: 64px;
		border-color: #ffffff28;
		border-style: solid;
		border-width: 1px;

		&.top.left { top: 0; left: 0; border-width: 1px 0 0 1px; }
		&.top.right { top: 0; right: 0; border-width: 1px 1px 0 0; }
		&.bottom.right { bottom: 0; right: 0; border-width: 0 1px 1px 0; }
		&.bottom.left { bottom: 0; left: 0; border-width: 0 0 1px 1px; }
	}

	&.preload {
		.--preload-bgimg();
	}

	.photo {
		display: block;
		position: relative;
		height: 40%;
		width: auto;
		opacity: 1;

		transition: transform 0.5s cubic-bezier(0, 1, 0.2, 1);

		&.horizontal {
			height: auto;
			width: 100%
		}

		&.anim { transition: opacity 0.5s; }
		&.transp { opacity: 0; }
		&.hidden { display: none; }
		&.ptr { cursor: pointer; }

		&:hover, &.magnified {
			transform: scale(1.1);
		}
	}

	.messages-dlg {
		box-sizing: border-box;
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 28px 16px 12px;
		width: 100%;
		opacity: 1;

		overflow: hidden;

		border-radius: 5px;
		box-shadow: 0 16px 32px #000;

		background-color: #555;

		text-align: center;

		z-index: 100;

		transition-property: opacity bottom background-color;
		transition-duration: 0.3s;

		&.opening {
			transition-timing-function: cubic-bezier(0, 1, 0.2, 1);
		}
		&.closing {
			transition-duration: 0.1s;
			transition-timing-function: ease-in;
		}

		&.translated {
			bottom: -32px;
			opacity: 0;
		}

		.arrow-left-wrap,
		.arrow-right-wrap {
			display: inline-block;
			position: relative;
			margin: 16px 12px 0;
			width: 16px;
			height: 18px;

			cursor: pointer;

			svg {
				width: 16px;
				height: 18px;

				path {
					fill: #fff7;
				}
			}

			&:hover svg path {
				fill: #fff;
			}

			&.inactive {
				pointer-events: none;

				svg path {
					fill: #fff2;
				}
			}
		}

		&.single {
			padding-bottom: 28px;

			.arrow-left-wrap,
			.arrow-right-wrap {
				display: none;
			}
		}

		.close {
			display: block;
			position: absolute;
			top: 12px;
			right: 12px;
			width: 16px;
			height: 16px;
			cursor: pointer;

			svg {
				width: 16px;
				height: 16px;

				line {
					stroke-width: 2;
					stroke: #fff7;
				}
			}

			&:hover svg line {
				stroke: #fff;
			}
		}

		.wrap {
			position: relative;
			margin: 0;
			transition: height 0.15s ease-in-out;

			p {
				margin: 0;
				top: 0;
				left: 0;
				color: #fffc;
				opacity: 1;

				&.t8n {
					position: absolute;
					width: 100%;

					transition-property: opacity left;
					transition-duration: 0.15s;
					transition-timing-function: ease-in-out;

					&.translate-left,
					&.translate-right {
						opacity: 0;
					}
					&.translate-left {
						left: -100px;
					}
					&.translate-right {
						left: 100px;
					}
				}
			}
		}
	}
}

.text-field {
	--height: calc(100vh - 80px);
	--margin-left: calc(var(--height) * 0.6 / -2 - 360px);

	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	align-content: center;

	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: var(--margin-left);
	padding-right: 30px;

	width: 360px;
	height: var(--height);

	h1, .p-wrap {
		width: 100%;
	}

	.p-wrap {
		margin: 16px 0;

		p {
			margin: 0;
			padding: 0;
		}

		ol, ul {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	body.reduced & {
		--margin-left: -180px;

		display: block;

		top: calc(100vh - 319px);
		margin-top: 0;

		padding-right: 0;

		height: 320px;

		overflow-y: auto;

		.p-wrap {
			padding-bottom: 20px;
		}

		&:after {
			content: ' ';
			display: block;
			position: fixed;

			top: calc(100vh - 320px);
			width: 360px;
			height: 320px;

			box-shadow:
				inset 0 20px 20px -20px #1b1b1b, inset 0 20px 20px -20px #1b1b1b, inset 0 20px 20px -20px #1b1b1b, inset 0 20px 20px -20px #1b1b1b,
				inset 0 -20px 20px -20px #1b1b1b, inset 0 -20px 20px -20px #1b1b1b, inset 0 -20px 20px -20px #1b1b1b, inset 0 -20px 20px -20px #1b1b1b;

			pointer-events: none;
		}
	}
}

.tools-field {
	--height: calc(100vh - 80px);
	--margin-left: calc(var(--height) * 0.6 / 2);

	position: absolute;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: center;

	top: 40px;
	left: 50%;
	margin-left: var(--margin-left);

	width: 360px;
	height: var(--height);

	z-index: 1000;

	.tools-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 32px 42px;

		width: 294px; // 336px;

		&.disabled {
			pointer-events: none;
		}
	}

	.tool-btn {
		display: block;
		top: 0;
		left: 0;
		width: 70px;
		height: 70px;

		border-radius: 28px;

		outline: #ffffff28 1px solid;

		transition-property: transform;
		transition-duration: 0.5s;
		transition-timing-function: cubic-bezier(0, 1, 0.2, 1);

		cursor: pointer;

		svg {
			opacity: 0.5;

			.field-shape {
				fill: none;
			}
			.stroke-shape {
				stroke: #fff;
				stroke-width: 30;
			}
			.fill-shape {
				fill: #fff;
			}
		}

		&:hover {
			transform: scale(1.2);
			background-color: #222;

			svg {
				opacity: 1;
			}
		}

		body.touch & svg {
			opacity: 1;
		}
	}

	.tools-btns-hints-wrap {
		position: relative;

		.close {
			display: none;
			position: absolute;
			top: 16px;
			right: 36px;
			width: 24px;
			height: 24px;
			cursor: pointer;

			svg {
				width: 24px;
				height: 24px;

				line {
					stroke-width: 2;
					stroke: #333;
				}
			}

			&:hover svg line {
				stroke: #777;
			}
		}
	}

	.tool-hint {
		display: block;
		position: absolute;

		top: calc(100% + 24px);
		right: 0;

		width: 294px;
		text-align: center;
		white-space: nowrap;

		overflow: hidden;
		text-overflow: ellipsis;
		pointer-events: none;
		user-select: none;
	}

	body.reduced & {
		justify-content: center;
		margin-left: -180px;

		.tools-btns-hints-wrap {
			margin-left: 80px;
			padding: 80px 0;
			width: 360px;

			border-radius: 32px;

			background-color: #1b1b1b;

			box-shadow: 0 5px 10px #000, 0 15px 64px #0009;

			opacity: 0;

			transition-property: margin-left;
			transition-duration: 0.5s;
			transition-timing-function: cubic-bezier(0, 1, 0.2, 1);

			&.placed {
				margin-left: 0;
				opacity: 1;
			}

			.close {
				display: block;
			}
		}

		.tools-wrap {
			justify-content: center;
			width: 360px;
		}

		.tool-hint {
			top: auto;
			bottom: 32px;
			width: 360px;
		}

		&:not(.shown) {
			display: none;
		}
	}
}

.tools-btn {
	display: none;
	position: absolute;
	top: 16px;
	right: 50%;
	margin-right: -120px;
	width: 64px;
	height: 64px;

	border-radius: 26px;

	background-color: #1b1b1b;

	outline: #ffffff28 1px solid;
	cursor: pointer;

	opacity: 0;

	transition-property: margin-right;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 1, 0.2, 1);

	&.placed {
		margin-right: -180px;
		opacity: 1;
	}

	svg {
		opacity: 0.5;

		.field-shape {
			fill: none;
		}
		.stroke-shape {
			stroke: #fff;
			stroke-width: 30;
		}
		.fill-shape {
			fill: #fff;
		}
	}

	&:hover {
		background-color: #333;
		outline: #ffffff28 1px solid;

		svg {
			opacity: 1;
		}
	}

	body.reduced & {
		display: block;

		&.hidden {
			display: none;
		}
	}

	body.touch & svg {
		opacity: 1;
	}
}

.drag-svg-cnt {
	position: fixed;
	margin-top: -35px;
	margin-left: -35px;
	width: 70px;
	height: 70px;

	svg {
		overflow: visible;

		.field-shape {
			fill: none;
		}

		.stroke-shape {
			stroke: #fff;
			stroke-width: 30;
		}

		.fill-shape {
			fill: #fff;
		}
	}
}

.big-photo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: #0007;

	z-index: 2000;

	img {
		position: absolute;
		transition-property: opacity transform;
		transition-duration: 0.3s;
		transition-timing-function: cubic-bezier(0, 1, 0.2, 1);
		opacity: 1;

		box-shadow: 0 0 30px #000;

		&.preload {
			opacity: 0;
			transform: scale(0.25);
		}
	}

	.close {
		display: block;
		position: absolute;
		top: 16px;
		right: 16px;
		width: 32px;
		height: 32px;
		cursor: pointer;

		svg {
			width: 32px;
			height: 32px;

			line {
				stroke-width: 4;
				stroke: #333;
			}
		}

		&:hover svg line {
			stroke: #777;
		}
	}
}

.entry-edit-btn {
	display: block;
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 32px;
	height: 32px;

	border-radius: 12px;
	box-shadow: 0 0 25px #000;
	background-color: #27c;

	cursor: pointer;

	z-index: 2345;

	svg {
		margin: 8px;
		width: 16px;
		height: 16px;

		path {
			fill: #fffc;
		}
	}

	&:hover svg path {
		fill: #fff;
	}

	&.translated {
		right: 80px;
	}

	&:hover {
		background-color: #29f;
	}
}
