@import url(./common.less);

body {
	padding: 120px 0;
	height: auto;
	color: #999;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;

	background-color: #1b1b1bcc;
	backdrop-filter: blur(10px);

	z-index: 3;

	.logo {
		display: block;
		position: absolute;
		display: block;
		top: 12pt;
		left: 50%;
		margin-left: -545px;

		width: 42px;
		height: 56px;

		svg {
			width: 42px;

			path {
				fill: #999;
			}
		}

		@media (max-width: 1190px) {
			margin-left: calc(-100vw / 2 + 50px);
		}
	}

	a.logo:hover path {
		fill: #fff;
	}
}

.entry-title {
	margin: 0 auto 18px;
	width: calc(100vw - 100px);
	max-width: 1090px;
	font-size: 1.5em;
}

.list-field {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;

    margin: auto auto;
	width: calc(100vw - 100px);
	max-width: 1090px;

	@media (max-width: 1000px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 760px) {
		grid-template-columns: repeat(2, 1fr);
	}

	.item-wrap {
		position: relative;
		height: 250px;

		outline: #333 1px solid;

		border-radius: 15px;

		overflow: hidden;

		transition-property: transform box-shadow;
		transition-duration: 0.5s;
		transition-timing-function: cubic-bezier(0, 1, 0.2, 1);

		.photo {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-size: cover;
			background-position: 50% 50%;

			&.preload {
				.--preload-bgimg();
			}
		}

		.title-wrap {
			box-sizing: border-box;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 16px 8px;
			width: 100%;

			background-color: #0007;

			color: #fff;
			text-align: center;

			opacity: 0;

			transition-property: opacity;
			transition-duration: 0.5s;
			transition-timing-function: cubic-bezier(0, 1, 0.2, 1);
		}

		&:after {
			content: ' ';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-color: #000;

			opacity: 0.3;

			transition-property: opacity;
			transition-duration: 0.5s;
			transition-timing-function: cubic-bezier(0, 1, 0.2, 1);
		}

		&:hover {
			box-shadow: 0 10px 30px #000;

			transform: scale(1.05);

			.title-wrap {
				opacity: 1;
			}

			&:after {
				opacity: 0;
			}
		}
	}

}
