@import url(./dialog.less);

.entry-edit-btn,
.entry-del-btn,
.entry-img-btn {
	display: block;
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 32px;
	height: 32px;

	border-radius: 12px;
	box-shadow: 0 0 25px #000;

	cursor: pointer;

	z-index: 2345;

	svg {
		margin: 8px;
		width: 16px;
		height: 16px;

		path {
			fill: #fffc;
		}
	}

	&:hover svg path {
		fill: #fff;
	}
}

.img-wrap {

	&.disabled {
		pointer-events: none;
	}

}

.entry-edit-btn {
	background-color: #27c;

	&.translated {
		right: 80px;
	}

	&:hover {
		background-color: #29f;
	}
}

.load-img {
	display: none;
}

.entry-img-btn {
	background-color: #27c;

	right: 140px;

	&:hover {
		background-color: #29f;
	}
}

.entry-del-btn {
	background-color: #a33;

	&:hover {
		background-color: #e11;
	}
}

.text-field {
	h1, .p-wrap {

		&.edited {
			outline: #fff2 1px solid;
			box-shadow: 0 10px 25px #0003;
			color: #fff;

			cursor: auto;
		}

	}
}

.tools-field {

	.tools-wrap.lib {
		max-height: calc(100vh - 160px);
		width: 336px;

		overflow-y: auto;

		.tool-btn {
			cursor: pointer;
		}
	}

	.tool-btn {
		position: relative;

		cursor: move;

		&.edit {
			&:hover {
				transform: none;
			}
		}

		&.add {
			cursor: pointer;

			svg {
				margin: 18px 20px;
				width: 30px;

				path {
					fill: #5c7;
				}
			}
		}

		&.inactive {
			outline: #ffffff14 1px solid;
			pointer-events: none;
		}

		.tool-sml-btn {
			display: none;
			position: absolute;
			top: -8px;
			width: 24px;
			height: 24px;

			border-radius: 8px;

			cursor: pointer;

			&.tool-edit-btn {
				left: -8px;

				background-color: #27c;

				&:hover {
					background-color: #29f;
				}
			}

			&.tool-del-btn {
				right: -8px;

				background-color: #a33;

				&:hover {
					background-color: #e11;
				}
			}

			svg {
				margin: 6px;
				width: 12px;
				height: 12px;

				path {
					fill: #fffc;
				}
			}

			&:hover svg path {
				fill: #fff;
			}
		}

		&:hover .tool-sml-btn {
			display: block;
		}

	}

}

.drag-svg-cnt {

	&.edit {
		outline-color: transparent;
		outline-width: 1px;
		outline-style: solid;
		border-radius: 50%;

		opacity: 0.5;

		&:hover {
			outline-color: #ff05;
			opacity: 1;
		}

		&.selected {
			outline-color: transparent;
			opacity: 1;
		}

	}

}

.gimbal {
	box-sizing: border-box;
	position: fixed;

	border-radius: 50%;

	cursor: move;

	z-index: 7654;

	svg {
		overflow: visible;
		pointer-events: none;

		circle {
			fill: none;
			stroke: #ff0;
		}
	}

	.handle {
		position: absolute;
		margin-top: -8px;
		margin-left: -8px;
		width: 16px;
		height: 16px;

		background-color: #cc0;

		cursor: default;

		&:hover {
			background-color: #ff0;
		}

		&.rotate {
			border-radius: 8px;
		}

		&.scale {
			border-radius: 3px;
		}

		&.flip {
			background-color: transparent;

			svg {
				margin-left: 4px;
				height: 16px;

				path {
					fill: #cc0;
				}
			}

			&.h svg {
				transform: rotate(90deg);
			}

			&:hover svg path {
				fill: #ff0;
			}
		}
	}
}

.action-btn {
	position: fixed;
	width: 32px;
	height: 32px;

	border-radius: 12px;

	box-shadow: 0 5px 25px #000;

	cursor: pointer;

	z-index: 5678;

	&.reset {
		background-color: #27c;

		&:hover {
			background-color: #29f;
		}
	}

	&.delete {
		background-color: #a33;

		&:hover {
			background-color: #e11;
		}
	}

	svg {
		margin: 8px;
		width: 16px;
		height: 16px;

		path {
			fill: #fffc;
		}
	}

	&:hover svg path {
		fill: #fff;
	}
}

.photo-field .photo {
	pointer-events: none;
}
