@import url(./common.less);

form[name=login] {
	padding-top: 160px;

	input {
		&:not([type=hidden]) {
			box-sizing: border-box;
			display: block;
			margin: 16px auto;
			padding: 8px;
			width: 360px;
			max-width: 80%;
			outline: none;
			font-size: 14pt;
			font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Roboto, sans-serif;
		}

		&[type=text],
		&[type=password] {
			background-color: #1b1b1b;
			border: #444 1px solid;
			border-radius: 5px;
			color: #fff;

			&:focus {
				border-color: #333;
				background-color: #333;
			}

			&::placeholder {
				color: #555;
			}
		}

		&[type=submit],
		&[type=button] {
			border: none;
			border-radius: 5px;
			padding: 9px;
			background-color: #37a;
			color: #fffc;
			cursor: pointer;

			&:hover {
				background-color: #29d;
				color: #fff;
			}

			&:active {
				transform: translateY(1px);
				background-color: #08c;
			}

			&:disabled {
				background-color: #444;
				color: #777;
			}
		}
	}

	.message {
		box-sizing: border-box;
		display: block;
		margin: 32px auto 16px;
		padding: 12px 9px;
		width: 360px;
		max-width: 80%;
		border-radius: 5px;

		&.error {
			background-color: #422;
			color: #f77;
		}

		&.success {
			background-color: #242;
			color: #7f7;
		}
	}

	&[disabled] input:not([type=button]) {
		opacity: 0.25;
		pointer-events: none;
	}
}
