<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/static/css/entries-list.css?{{seed}}">
	</head>
	<body>
		<header class="header js-header">
			<{{logo_tagname}} class="logo" href="/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12726.79 16952.69">
			<path d="m2446.63 1482.66 1254.49 106.49 20.44-231.43c-472.05-45.78-890.89-95.85-1253.56-145.39l19.21-303.43c365.46 49.95 786.49 100.38 1261.06 146.4l45.24-512.37c28.81-326.13 319.22-569.41 645.36-540.61 326.14 28.81 569.43 319.21 540.61 645.35l-44.47 503.63c546.81 35.82 1144.05 63.73 1789.81 79.18 3852.45 92.19 6001.97-342.34 6001.97-342.34l-7.77 303.75s-2149.55 434.6-6001.99 342.31c-651.89-15.6-1255.81-43.96-1808.74-80.33l-20.84 235.98 6246.67 530.25-753.11 8267.74-2567.95-218.04c-16.95-76.78-31.96-154-35.37-229.02-31.06-682.83 205.63-977.54-187.33-1322.44 73.07-254.97 121.41-510.02 144.34-764.86 1760.21-175.52 2652.08-1796.21 2599.94-3063.86-64.85-1580.13-1489.57-2951.15-3067-2360.06-405.69 152.62-492.46 436.72-147.03 727.05-37.49 141.1-239.45 195.8-304.37 396.96-93.22 289.31 176.42 425.18 193.82 745.44 51.17 731.32-679.93 764.81-270.61 1119.57 48.44 511.64-105.89 778.05-6.41 1535.14-210.21 281.31-195.46 476.27 21.13 639.46 138.9 317.62 225.67 644.04 267.69 969.62 11.07 90.82 101.48 136.75 138.92 238.12-144.42 500.58 225.49 865.26 150.26 1326.28l-5617.73-476.88 753.32-8267.66zM4415.68 265.02c181.64 16.04 317.11 177.77 301.08 359.45L4569.6 2290.83c-16.07 181.67-177.78 317.13-359.44 301.12-181.64-16.05-317.11-177.77-301.08-359.45l147.16-1666.37c16.07-181.66 177.78-317.12 359.44-301.11zm4030.03 3366.5c836.17 73.19 1558.16 849.47 1499.66 1821.62-61.18 1013.8-1034.46 2166.83-2179.58 2296.52 125.22-603.46 249.46-1349.78-151.74-1835.77 119.76-400.7 217.54-801.17 198.36-1202.56 222.05-237.36 882.76-864.58 633.3-1079.81zm-1034.5-217.08c32.88 267.34 181.79 294.67 193.77 450.86 13.67 180.84-192.82 157.93-184.6 512.54 286.89 65.24 319.82-118.2 481.56-286.69 92.31-97.98 217.49-157.89 238.53-337.02-234.02-357.33-576.63-444.64-729.26-339.69zM6369.76 14855.78v824.12c0 305.24-248.95 554.19-554.19 554.19H4155.65c-305.22-.03-554.14-248.97-554.14-554.19v-269.99c.03-305.19 248.94-554.1 554.14-554.13h1737.96c0-133.54-108.91-242.46-242.45-242.46l-1573.49.01v-476.15h1573.49c395.78 0 718.6 322.81 718.6 718.6zM718.6 16234.09c-395.79 0-718.6-322.82-718.6-718.6v-659.71c0-395.79 322.81-718.6 718.6-718.6h1807.2c395.79 0 718.6 322.81 718.6 718.6v659.71c0 395.78-322.81 718.6-718.6 718.6h-233.71v718.6h-476.15v-718.6H718.6zm1573.49-1620.77v1144.62h233.71c133.54 0 242.45-108.91 242.45-242.45v-659.71c0-133.54-108.91-242.46-242.45-242.46h-233.71zm-476.15 1144.62v-1144.62H718.6c-133.54 0-242.46 108.92-242.46 242.46v659.71c0 133.54 108.92 242.45 242.46 242.45h1097.34zm9847.86-1620.76c395.79 0 718.6 322.81 718.6 718.6v659.71c0 395.78-322.81 718.6-718.6 718.6h-1331.04c-395.79 0-718.6-322.82-718.6-718.6v-659.71c0-395.79 322.81-718.6 718.6-718.6h1331.04zm0 1620.76c133.54 0 242.46-108.91 242.46-242.45v-659.71c0-133.54-108.92-242.46-242.46-242.46h-1331.04c-133.54 0-242.46 108.92-242.46 242.46v659.71c0 133.54 108.92 242.45 242.46 242.45h1331.04zm-4817.89-1620.76h476.15v718.6h1339.79v-718.6H9138v2096.91h-476.15v-902.26H7322.06v902.26h-476.15v-2096.91zm-2690.26 1194.65c-43.03 0-78.08 35.06-78.08 78.08v269.94c0 43.03 35.05 78.08 78.08 78.08h1659.87c43.01 0 78.05-35.02 78.08-78.03v-348.07H4155.65zM300.21 11684.07h364.63l877.63 877.63 877.62-877.63h364.63v1605.78h-364.63v-1090.11l-877.62 877.62-877.63-877.62v1090.11H300.21v-1605.78zm7727.01 0h364.64v550.29h544.13l550.29-550.29h520.21l-732.58 732.58 873.18 873.2H9626.9l-690.92-690.93h-544.12v690.93h-364.64v-1605.78zm2670.18 0 1384.79.07v364.55H10697.4c-102.26 0-185.67 83.41-185.67 185.67h1390.63v364.56h-1390.63v140.64c0 102.26 83.41 185.67 185.67 185.67h1384.79v364.62H10697.4c-303.09 0-550.29-247.2-550.29-550.29v-505.2c0-303.08 247.2-550.29 550.29-550.29zm-4730.34 0H7112.3c303.09 0 550.29 247.21 550.29 550.29v505.2c0 303.09-247.2 550.29-550.29 550.29H5907.34l-.03-.05.03 550.35h-364.63v-1731.73c.02-233.72 190.63-424.33 424.35-424.35zm-59.79 424.35.03 816.8 1205 .01c102.26 0 185.67-83.41 185.67-185.67v-505.2c0-102.26-83.41-185.67-185.67-185.67l-1145.24.01v-.07c-32.94 0-59.79 26.85-59.79 59.79zm-729.19 125.94v631.11c0 233.74-190.64 424.38-424.39 424.38H3482.55c-233.74-.02-424.35-190.65-424.35-424.38v-206.76c.02-233.71 190.63-424.32 424.35-424.35h1330.9c0-102.26-83.4-185.67-185.67-185.67l-1204.95.01v-364.63h1204.95c303.09 0 550.3 247.21 550.3 550.29zm-1695.53 364.56c-32.96 0-59.8 26.84-59.8 59.79v206.72c0 32.95 26.84 59.79 59.8 59.79h1271.1c32.94 0 59.77-26.82 59.8-59.75v-266.55h-1330.9z"/></svg></{{logo_tagname}}>
		</header>

		<h1 class="entry-title">{{title}}</h1>

		<section class="list-field js-list-field">
			{{#items}}
			<a href="{{path}}"><div class="item-wrap">
				<div class="photo preload js-photo" data-imageurl="{{{image_path}}}"></div>
				<div class="title-wrap">{{name}}</div>
			</div></a>
			{{/items}}
		</section>

		<script type="module" src="/static/js/entries-list.js?{{seed}}"></script>
	</body>
</html>
