<!DOCTYPE html>
<html>
	<head>
		<title>Вход</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/static/css/login.css?{{seed}}">
	</head>
	<body>
		<form name="login"{{#form_disabled}} disabled="disabled"{{/form_disabled}} action="/login" method="post" enctype="application/x-www-form-urlencoded" autocomplete="off">
			<input type="text" name="username" placeholder="Логин">
			<input type="password" name="password" placeholder="Пароль">
			<input type="submit" name="submit" value="Войти"{{#form_disabled}} disabled="disabled"{{/form_disabled}}>
			<input type="hidden" name="seed" value="{{seed}}">
			{{#message}}
				<i class="message{{#error}} error{{/error}}{{#success}} success{{/success}}">{{message}}</i>
				{{#can_logout}}
					<input type="button" name="logout" value="Выйти" onclick="location.href='/logout'">
				{{/can_logout}}
			{{/message}}
		</form>
		{{^form_disabled}}
			<script>
				document.querySelector('input[name=username]').focus();
			</script>
		{{/form_disabled}}
	</body>
</html>
