<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/static/css/entry.css?{{seed}}">
		{{#edit}}
		<link rel="stylesheet" type="text/css" href="/static/css/entry-edit.css?{{seed}}">
		<link rel="stylesheet" type="text/css" href="/static/css-noent/quill.css?{{seed}}">
		{{/edit}}
	</head>
	<body>
		<div class="highlight-bg js-hl-bg"></div>

		<section class="photo-field preload js-photo-field">
			<img src="{{{image_url}}}"
				class="photo js-photo"
				width="{{image_width}}" height="{{image_height}}"
				alt="◴"
				style="display: none">
		</section>

		<ins class="js-svg-src" style="display: none">
			{{{svg_tools}}}
			<svg class="arrow-left js-arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
			<svg class="arrow-right js-arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
		</ins>

		<section class="text-field js-text-field"></section>

		<section class="tools-field js-tools-field">
			<div class="tools-btns-hints-wrap js-tools-wrap">
				<i class="close js-tools-close-btn" title="Закрыть"><svg class="js-clcr-svg" xmlns="http://www.w3.org/2000/svg"><line x2="100%" y2="100%"/><line y1="100%" x2="100%"/></svg></i>
				<div class="tools-wrap js-tools-cnt"></div>
				<i class="tool-hint js-tool-hint">&nbsp;</i>
			</div>
		</section>

		<i class="tools-btn placed js-tools-btn">
			<svg class="camera" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
				<circle class="field-shape" cx="1200" cy="1200" r="1200" />
				<g class="stroke-shape">
					<path d="M1455.51 1827.23c0-36.04-31.49-65.24-70.34-65.24-3.33 0-6.58.28-9.8.71l-206.22-332.61h-60.42l221.22 356.8c-9.44 11.11-15.12 25.09-15.12 40.34 0 36.02 31.5 65.23 70.34 65.23 38.85 0 70.34-29.21 70.34-65.23zm-285.13-853.37 211.29-332.71c3.43.49 6.94.82 10.51.82 38.85 0 70.35-29.21 70.35-65.24 0-36.03-31.5-65.25-70.35-65.25-38.85 0-70.33 29.22-70.33 65.25 0 14.99 5.51 28.75 14.68 39.77L1109.6 973.86h60.78zM612.3 1175.79H281.55c-10.38-23.99-35.65-40.94-65.24-40.94-38.84 0-70.33 29.2-70.33 65.23 0 36.05 31.49 65.24 70.33 65.24 29.59 0 54.86-16.96 65.24-40.95H612.3v-48.58zM798.15 858.55c58.02 0 105.05-47.03 105.05-105.04 0-58.02-47.03-105.05-105.05-105.05-58.01 0-105.05 47.03-105.05 105.05 0 58.01 47.04 105.04 105.05 105.04zm0 896.94c58.02 0 105.05-47.03 105.05-105.05 0-58.01-47.03-105.04-105.05-105.04-58.01 0-105.05 47.03-105.05 105.04 0 58.02 47.04 105.05 105.05 105.05zm446.84-325.4V973.86h-216.54v456.23zM1290.35 1359.7v-315.45h-45.36v315.45zM1735.5 1397.71v-391.47h-445.15v391.47zM1826.36 1346.54v-289.13h-90.86v289.13zM2142.84 1459.19v-91.04l-100.45-23.91 100.45-21.17v-233.75l-100.45-25.34 100.45-23.23v-96l-316.48 112.66v289.13z"/>
					<path d="M703.91 1808.01c-50.59 0-91.61-41.02-91.61-91.63V687.57c0-50.61 41.02-91.63 91.61-91.63h180.4c50.59 0 91.61 41.02 91.61 91.63v219.47H734.88c-25.3 0-45.82 20.52-45.82 45.8v498.28c0 25.28 20.52 45.79 45.82 45.79h241.04v219.47c0 50.61-41.02 91.63-91.61 91.63h-180.4z"/>
					<path d="M982.63 1496.91c25.3 0 45.82-20.51 45.82-45.79V952.84c0-25.28-20.52-45.8-45.82-45.8H734.88c-25.3 0-45.82 20.52-45.82 45.8v498.28c0 25.28 20.52 45.79 45.82 45.79h247.75z"/>
				</g>
				<path class="fill-shape" d="M1074.21 1075.24v-46.47h126.66v46.47zM1252.65 1114.35v-32.13h30.65v32.13zM1342.66 1093.24v-39.89h344.23v39.89zM1758.42 1121.67v-29.47h44.24v29.47z"/>
			</svg>
		</i>

		<a class="logo" href="/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12726.79 16952.69">
			<path d="m2446.63 1482.66 1254.49 106.49 20.44-231.43c-472.05-45.78-890.89-95.85-1253.56-145.39l19.21-303.43c365.46 49.95 786.49 100.38 1261.06 146.4l45.24-512.37c28.81-326.13 319.22-569.41 645.36-540.61 326.14 28.81 569.43 319.21 540.61 645.35l-44.47 503.63c546.81 35.82 1144.05 63.73 1789.81 79.18 3852.45 92.19 6001.97-342.34 6001.97-342.34l-7.77 303.75s-2149.55 434.6-6001.99 342.31c-651.89-15.6-1255.81-43.96-1808.74-80.33l-20.84 235.98 6246.67 530.25-753.11 8267.74-2567.95-218.04c-16.95-76.78-31.96-154-35.37-229.02-31.06-682.83 205.63-977.54-187.33-1322.44 73.07-254.97 121.41-510.02 144.34-764.86 1760.21-175.52 2652.08-1796.21 2599.94-3063.86-64.85-1580.13-1489.57-2951.15-3067-2360.06-405.69 152.62-492.46 436.72-147.03 727.05-37.49 141.1-239.45 195.8-304.37 396.96-93.22 289.31 176.42 425.18 193.82 745.44 51.17 731.32-679.93 764.81-270.61 1119.57 48.44 511.64-105.89 778.05-6.41 1535.14-210.21 281.31-195.46 476.27 21.13 639.46 138.9 317.62 225.67 644.04 267.69 969.62 11.07 90.82 101.48 136.75 138.92 238.12-144.42 500.58 225.49 865.26 150.26 1326.28l-5617.73-476.88 753.32-8267.66zM4415.68 265.02c181.64 16.04 317.11 177.77 301.08 359.45L4569.6 2290.83c-16.07 181.67-177.78 317.13-359.44 301.12-181.64-16.05-317.11-177.77-301.08-359.45l147.16-1666.37c16.07-181.66 177.78-317.12 359.44-301.11zm4030.03 3366.5c836.17 73.19 1558.16 849.47 1499.66 1821.62-61.18 1013.8-1034.46 2166.83-2179.58 2296.52 125.22-603.46 249.46-1349.78-151.74-1835.77 119.76-400.7 217.54-801.17 198.36-1202.56 222.05-237.36 882.76-864.58 633.3-1079.81zm-1034.5-217.08c32.88 267.34 181.79 294.67 193.77 450.86 13.67 180.84-192.82 157.93-184.6 512.54 286.89 65.24 319.82-118.2 481.56-286.69 92.31-97.98 217.49-157.89 238.53-337.02-234.02-357.33-576.63-444.64-729.26-339.69zM6369.76 14855.78v824.12c0 305.24-248.95 554.19-554.19 554.19H4155.65c-305.22-.03-554.14-248.97-554.14-554.19v-269.99c.03-305.19 248.94-554.1 554.14-554.13h1737.96c0-133.54-108.91-242.46-242.45-242.46l-1573.49.01v-476.15h1573.49c395.78 0 718.6 322.81 718.6 718.6zM718.6 16234.09c-395.79 0-718.6-322.82-718.6-718.6v-659.71c0-395.79 322.81-718.6 718.6-718.6h1807.2c395.79 0 718.6 322.81 718.6 718.6v659.71c0 395.78-322.81 718.6-718.6 718.6h-233.71v718.6h-476.15v-718.6H718.6zm1573.49-1620.77v1144.62h233.71c133.54 0 242.45-108.91 242.45-242.45v-659.71c0-133.54-108.91-242.46-242.45-242.46h-233.71zm-476.15 1144.62v-1144.62H718.6c-133.54 0-242.46 108.92-242.46 242.46v659.71c0 133.54 108.92 242.45 242.46 242.45h1097.34zm9847.86-1620.76c395.79 0 718.6 322.81 718.6 718.6v659.71c0 395.78-322.81 718.6-718.6 718.6h-1331.04c-395.79 0-718.6-322.82-718.6-718.6v-659.71c0-395.79 322.81-718.6 718.6-718.6h1331.04zm0 1620.76c133.54 0 242.46-108.91 242.46-242.45v-659.71c0-133.54-108.92-242.46-242.46-242.46h-1331.04c-133.54 0-242.46 108.92-242.46 242.46v659.71c0 133.54 108.92 242.45 242.46 242.45h1331.04zm-4817.89-1620.76h476.15v718.6h1339.79v-718.6H9138v2096.91h-476.15v-902.26H7322.06v902.26h-476.15v-2096.91zm-2690.26 1194.65c-43.03 0-78.08 35.06-78.08 78.08v269.94c0 43.03 35.05 78.08 78.08 78.08h1659.87c43.01 0 78.05-35.02 78.08-78.03v-348.07H4155.65zM300.21 11684.07h364.63l877.63 877.63 877.62-877.63h364.63v1605.78h-364.63v-1090.11l-877.62 877.62-877.63-877.62v1090.11H300.21v-1605.78zm7727.01 0h364.64v550.29h544.13l550.29-550.29h520.21l-732.58 732.58 873.18 873.2H9626.9l-690.92-690.93h-544.12v690.93h-364.64v-1605.78zm2670.18 0 1384.79.07v364.55H10697.4c-102.26 0-185.67 83.41-185.67 185.67h1390.63v364.56h-1390.63v140.64c0 102.26 83.41 185.67 185.67 185.67h1384.79v364.62H10697.4c-303.09 0-550.29-247.2-550.29-550.29v-505.2c0-303.08 247.2-550.29 550.29-550.29zm-4730.34 0H7112.3c303.09 0 550.29 247.21 550.29 550.29v505.2c0 303.09-247.2 550.29-550.29 550.29H5907.34l-.03-.05.03 550.35h-364.63v-1731.73c.02-233.72 190.63-424.33 424.35-424.35zm-59.79 424.35.03 816.8 1205 .01c102.26 0 185.67-83.41 185.67-185.67v-505.2c0-102.26-83.41-185.67-185.67-185.67l-1145.24.01v-.07c-32.94 0-59.79 26.85-59.79 59.79zm-729.19 125.94v631.11c0 233.74-190.64 424.38-424.39 424.38H3482.55c-233.74-.02-424.35-190.65-424.35-424.38v-206.76c.02-233.71 190.63-424.32 424.35-424.35h1330.9c0-102.26-83.4-185.67-185.67-185.67l-1204.95.01v-364.63h1204.95c303.09 0 550.3 247.21 550.3 550.29zm-1695.53 364.56c-32.96 0-59.8 26.84-59.8 59.79v206.72c0 32.95 26.84 59.79 59.8 59.79h1271.1c32.94 0 59.77-26.82 59.8-59.75v-266.55h-1330.9z"/>
		</svg></a>



		{{#can_edit}}
			{{#edit}}
			<label class="img-wrap js-img-wrap"><input class="load-img js-load-img" type="file" name="load-img"><i class="entry-img-btn js-img-btn" title="Загрузить изображение"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M149.1 64.8L138.7 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H373.3L362.9 64.8C356.4 45.2 338.1 32 317.4 32H194.6c-20.7 0-39 13.2-45.5 32.8zM256 384c-53 0-96-43-96-96s43-96 96-96s96 43 96 96s-43 96-96 96z"/></svg></i></label>
			<i class="entry-del-btn js-del-btn" title="Удалить"><svg class="js-del-ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></i>
			<i class="entry-edit-btn translated js-edit-btn" title="Настройки"><svg class="js-edit-ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg></i>
			{{/edit}}
			{{^edit}}
			<a href="?edit" title="Редактировать"><i class="entry-edit-btn js-edit-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg></i></a>
			{{/edit}}
		{{/can_edit}}

		{{#edit}}
		<ins class="js-tools-src" style="display: none">{{tools_src_json}}</ins>
		<script>
			window.entryEditting = true;
			window.isNew = {{#is_new}}true{{/is_new}}{{^is_new}}false{{/is_new}};
			window.toolsSrc = JSON.parse(document.querySelector('.js-tools-src').textContent);
		</script>
		{{/edit}}

		<ins class="js-entry-data" style="display: none">{{entry_data_json}}</ins>
		<script>
			window.entryPath = '{{{entry_path}}}';
			window.entryData = JSON.parse(document.querySelector('.js-entry-data').textContent);
		</script>
		<script type="module" src="/static/js/entry.js?{{seed}}"></script>

		{{#edit}}
		<script src="/static/js-noent/quill.js?{{seed}}"></script>
		<script type="module" src="/static/js/entry-edit.js?{{seed}}"></script>
		{{/edit}}
	</body>
</html>
