<!-- background-semiop-ico.svg -->
<svg class="background-semiop-ico js-background-semiop-ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="fill-shape" d="M880 880h320v320H880zM560 560h320v320H560zM1520 880h320v320h-320zM1200 560h320v320h-320zM880 1520h320v320H880zM560 1200h320v320H560zM1520 1520h320v320h-320zM1200 1200h320v320h-320z"/>
</svg>
<!-- background-semiop.svg -->
<svg name="Фон на просвет" class="background-semiop js-background-semiop" xmlns="http://www.w3.org/2000/svg" viewBox="900 0 2400 2400">
	<circle class="field-shape" cx="2100" cy="1200" r="1200"/>
	<rect class="fill-shape" y="1100" width="4200" height="200" rx="100"/>
</svg>
<!-- background.svg -->
<svg name="Фон" class="background js-background" xmlns="http://www.w3.org/2000/svg" viewBox="1317.62 0 2400 2400">
	<defs>
		<linearGradient id="bg-gradient-674" gradientUnits="userSpaceOnUse" x1="2517.61" y1="1400" x2="2517.61" y2="1050">
			<stop offset="0" style="stop-opacity:1;stop-color:#ccc"/>
			<stop offset="1" style="stop-opacity:1;stop-color:#555"/>
		</linearGradient>
	</defs>
	<circle class="field-shape" cx="2517.62" cy="1200" r="1200"/>
	<path class="stroke-shape" fill="#ccc" d="M4817.62 1049.99h-4600V900h4600z"/>
	<path class="stroke-shape" fill="url(#bg-gradient-674)" d="M4817.62 1400.01h-4600V1050h4600z"/>
	<path class="stroke-shape" fill="none" d="M4967.62 1024.95h-149.99m0-99.99h149.99M4967.62 924.96c-27.6 0-49.97 22.36-49.97 50.04 0 27.55 22.37 49.96 49.97 49.96 27.62 0 49.98 22.37 49.98 49.97 0 27.62-22.36 50.04-49.98 50.04-27.6 0-49.97-22.42-49.97-50.04 0-27.6 22.37-49.97 49.97-49.97 27.62 0 49.98-22.41 49.98-49.96 0-27.68-22.36-50.04-49.98-50.04-27.6 0-49.97-22.35-49.97-49.97 0-27.62 22.37-50.02 49.97-50.02 27.62 0 49.98 22.4 49.98 50.02 0 27.62-22.36 49.97-49.98 49.97zM67.62 1024.95h149.99m0-99.99H67.62M67.62 924.96c27.6 0 49.97 22.36 49.97 50.04 0 27.55-22.37 49.96-49.97 49.96-27.62 0-49.98 22.37-49.98 49.97 0 27.62 22.36 50.04 49.98 50.04 27.6 0 49.97-22.42 49.97-50.04 0-27.6-22.37-49.97-49.97-49.97-27.62 0-49.98-22.41-49.98-49.96 0-27.68 22.36-50.04 49.98-50.04 27.6 0 49.97-22.35 49.97-49.97 0-27.62-22.37-50.02-49.97-50.02-27.62 0-49.98 22.4-49.98 50.02 0 27.62 22.36 49.97 49.98 49.97z"/>
	<path class="fill-shape" d="M4867.62 1150h50v50h-50zM4867.62 1230h50v50h-50zM4867.62 1310h50v50h-50zM4867.62 1390h50v50h-50zM4867.62 1470h50v50h-50zM4867.62 1550h50v50h-50zM4867.62 1630h50v50h-50zM4867.62 1710h50v50h-50zM4867.62 1790h50v50h-50zM4867.62 1870h50v50h-50z"/>
</svg>
<!-- beauty-dish.svg -->
<svg name="Портретная тарелка" class="beauty-dish js-beauty-dish" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<g class="stroke-shape" fill="none">
		<path d="M1828.74 1904.87c33.01 0 59.8-313.82 59.8-700.96 0-387.11-26.79-700.93-59.8-700.93M1626.52 1392.93v-378.01H791.39v35.18h-52.76v307.66h52.76v35.17z"/>
		<path d="m1294.1 1014.93 183.76-311.99a124.4 124.4 0 0 0 18.68 1.43c69.09 0 125-55.82 125-124.9 0-68.97-55.91-124.89-125-124.89-68.97 0-124.9 55.92-124.9 124.89 0 28.67 9.7 55.1 26.03 76.22l-211.59 359.24h108.02zm-555.47 138.82h-201.5c-18.46-45.91-63.36-78.45-115.91-78.45-69.08 0-125 56.02-125 124.99 0 68.98 55.92 125.1 125 125.1 52.55 0 97.45-32.65 115.91-78.57h201.5v-93.07zm555.47 239.18 183.76 311.99a124.4 124.4 0 0 1 18.68-1.43c69.09 0 125 55.82 125 124.9 0 68.97-55.91 124.89-125 124.89-68.97 0-124.9-55.92-124.9-124.89 0-28.67 9.7-55.1 26.03-76.22l-211.59-359.24h108.02z"/>
	</g>
	<path class="fill-shape" d="M1824.37 1386.14c14.12 0 25.54-81.57 25.54-182.23 0-100.61-11.42-182.18-25.54-182.18-14.07 0-25.53 81.57-25.53 182.18 0 100.66 11.46 182.23 25.53 182.23zM852.71 1140.77v-61.53h773.81v61.53z"/>
	<path class="stroke-shape" fill="#fff7" d="M1828.74 502.98c-51.69-.12-202.23 351.39-202.23 511.95v378c0 160.56 150.54 512.07 202.23 511.95-33.01 0-59.8-313.82-59.8-700.94 0-73.05 7.44-700.96 59.8-700.96z"/>
</svg>
<!-- black-flag-ico.svg -->
<svg class="black-flag-ico js-black-flag-ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<rect class="stroke-shape" fill="#000" x="400" y="600" width="1600" height="1200" rx="50"/>
</svg>
<!-- black-flag.svg -->
<svg name="Черный флаг" class="black-flag js-black-flag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<rect class="stroke-shape" fill="#000" x="1100" y="-800" width="200" height="4000" rx="100"/>
</svg>
<!-- blinds.svg -->
<svg name="Жалюзи" class="blinds js-blinds" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="fill-shape" d="M550.003 1150h1399.996l-100.005 100.006H449.997zM550.003 1330h1399.996l-100.005 100.006H449.997zM550.003 1510h1399.996l-100.005 100.006H449.997zM550.003 1690h1399.996l-100.005 100.006H449.997zM550.003 969.997h1399.996l-100.005 100.006H449.997zM550.003 789.997h1399.996l-100.005 100.006H449.997zM550.003 609.997h1399.996l-100.005 100.006H449.997z"/>
</svg>
<!-- camera.svg -->
<svg name="Камера" class="camera js-camera" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200" />
	<g class="stroke-shape" fill="none">
		<path d="M1455.51 1827.23c0-36.04-31.49-65.24-70.34-65.24-3.33 0-6.58.28-9.8.71l-206.22-332.61h-60.42l221.22 356.8c-9.44 11.11-15.12 25.09-15.12 40.34 0 36.02 31.5 65.23 70.34 65.23 38.85 0 70.34-29.21 70.34-65.23zm-285.13-853.37 211.29-332.71c3.43.49 6.94.82 10.51.82 38.85 0 70.35-29.21 70.35-65.24 0-36.03-31.5-65.25-70.35-65.25-38.85 0-70.33 29.22-70.33 65.25 0 14.99 5.51 28.75 14.68 39.77L1109.6 973.86h60.78zM612.3 1175.79H281.55c-10.38-23.99-35.65-40.94-65.24-40.94-38.84 0-70.33 29.2-70.33 65.23 0 36.05 31.49 65.24 70.33 65.24 29.59 0 54.86-16.96 65.24-40.95H612.3v-48.58zM798.15 858.55c58.02 0 105.05-47.03 105.05-105.04 0-58.02-47.03-105.05-105.05-105.05-58.01 0-105.05 47.03-105.05 105.05 0 58.01 47.04 105.04 105.05 105.04zm0 896.94c58.02 0 105.05-47.03 105.05-105.05 0-58.01-47.03-105.04-105.05-105.04-58.01 0-105.05 47.03-105.05 105.04 0 58.02 47.04 105.05 105.05 105.05zm446.84-325.4V973.86h-216.54v456.23zM1290.35 1359.7v-315.45h-45.36v315.45zM1735.5 1397.71v-391.47h-445.15v391.47zM1826.36 1346.54v-289.13h-90.86v289.13zM2142.84 1459.19v-91.04l-100.45-23.91 100.45-21.17v-233.75l-100.45-25.34 100.45-23.23v-96l-316.48 112.66v289.13z"/>
		<path d="M703.91 1808.01c-50.59 0-91.61-41.02-91.61-91.63V687.57c0-50.61 41.02-91.63 91.61-91.63h180.4c50.59 0 91.61 41.02 91.61 91.63v219.47H734.88c-25.3 0-45.82 20.52-45.82 45.8v498.28c0 25.28 20.52 45.79 45.82 45.79h241.04v219.47c0 50.61-41.02 91.63-91.61 91.63h-180.4z"/>
		<path d="M982.63 1496.91c25.3 0 45.82-20.51 45.82-45.79V952.84c0-25.28-20.52-45.8-45.82-45.8H734.88c-25.3 0-45.82 20.52-45.82 45.8v498.28c0 25.28 20.52 45.79 45.82 45.79h247.75z"/>
	</g>
	<path class="fill-shape" d="M1074.21 1075.24v-46.47h126.66v46.47zM1252.65 1114.35v-32.13h30.65v32.13zM1342.66 1093.24v-39.89h344.23v39.89zM1758.42 1121.67v-29.47h44.24v29.47z"/>
</svg>
<!-- dawn.svg -->
<svg name="Дневной свет (восход)" class="dawn js-dawn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<g class="fill-shape">
		<path d="M1226.77 625.21h-53.56l25.92-553.32zM1435.36 675.58l-49.78-19.73 127.23-251.03zM1014.51 657.36l-50.19 18.68-73.42-271.68zM676.5 947.15l-21.03 49.24-247.51-133.95zM1622.65 804l-38.11-37.63 407.03-375.67zM1740.95 997.79l-20.68-49.4 276.08-87.38zM782.05 804l38.12-37.63L413.14 390.7z"/>
		<path d="M703.09 1199.99c0-274.43 222.47-496.9 496.9-496.9 274.45 0 496.93 222.47 496.93 496.9v.01H703.09v-.01z"/>
	</g>
	<path class="stroke-shape" d="M300 1200h1800M1200 1400v400M1341.42 1541.42 1200 1400l-141.42 141.42"/>
</svg>
<!-- daylight.svg -->
<svg name="Дневной свет" class="daylight js-daylight" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="fill-shape" d="M1226.77 625.21h-53.56l25.92-553.32zM1435.36 675.58l-49.78-19.73 127.23-251.03zM1014.51 657.36l-50.19 18.68-73.42-271.68zM676.5 947.15l-21.03 49.24-247.51-133.95zM1622.65 804l-38.11-37.63 407.03-375.67zM1740.95 997.79l-20.68-49.4 276.08-87.38zM782.05 804l38.12-37.63L413.14 390.7zM616.3 1227.63l.36-53.56-553.46 22.19zM1753.46 1177.8l-.34 53.57 553.44-22.19zM1175.38 1774.77h53.57l-25.92 553.32zM966.8 1724.4l49.77 19.73-127.22 251.03zM1387.65 1742.62l50.18-18.68 73.43 271.68zM1725.65 1452.83l21.04-49.24 247.51 133.95zM779.5 1595.98l38.12 37.63-407.03 375.66zM661.21 1402.18l20.68 49.4-276.08 87.39zM1620.1 1595.98l-38.12 37.63 407.04 375.66zM703.09 1199.99c0-274.43 222.47-496.9 496.9-496.9 274.45 0 496.93 222.47 496.93 496.9 0 274.44-222.48 496.92-496.93 496.92-274.43 0-496.9-222.48-496.9-496.92z"/>
</svg>
<!-- diffuser-ico.svg -->
<svg class="diffuser-ico js-diffuser-ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<defs>
		<linearGradient id="dif-gradient-749" gradientUnits="userSpaceOnUse" x1="1687.46" y1="1980.1" x2="712.54" y2="419.9">
			<stop offset="0" style="stop-opacity:1;stop-color:#fec900"/>
			<stop offset="1" style="stop-opacity:1;stop-color:gainsboro"/>
		</linearGradient>
	</defs>
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="stroke-shape" fill="url(#dif-gradient-749)" d="M1971.22 1461.05c0 271.03-345.28 312.37-771.22 312.37-425.9 0-771.22-41.34-771.22-312.37V938.96c0-271.02 345.32-312.38 771.22-312.38 425.94 0 771.22 41.36 771.22 312.38v522.09z"/>
</svg>
<!-- diffuser.svg -->
<svg name="Отражатель" class="diffuser js-diffuser" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21000 21000">
	<defs>
		<linearGradient id="dif-gradient-479" gradientUnits="userSpaceOnUse" x1="14761.25" y1="12547.5" x2="6230" y2="8449.87">
			<stop offset="0" style="stop-opacity:1;stop-color:#fec900"/>
			<stop offset="1" style="stop-opacity:1;stop-color:gainsboro"/>
		</linearGradient>
	</defs>
	<circle class="field-shape" cx="10500" cy="10500" r="10500"/>
	<path class="stroke-shape" fill="url(#dif-gradient-479)" d="M17248.18 11185.26c0 711.45-3021.2 819.97-6748.18 819.97-3726.63 0-6748.18-108.52-6748.18-819.97V9814.77c0-711.43 3021.55-820 6748.18-820 3726.98 0 6748.18 108.57 6748.18 820v1370.49z"/>
</svg>
<!-- dusk.svg -->
<svg name="Дневной свет (закат)" class="dusk js-dusk" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<g class="fill-shape">
		<path d="M1226.77 625.21h-53.56l25.92-553.32zM1435.36 675.58l-49.78-19.73 127.23-251.03zM1014.51 657.36l-50.19 18.68-73.42-271.68zM676.5 947.15l-21.03 49.24-247.51-133.95zM1622.65 804l-38.11-37.63 407.03-375.67zM1740.95 997.79l-20.68-49.4 276.08-87.38zM782.05 804l38.12-37.63L413.14 390.7z"/>
		<path d="M703.09 1199.99c0-274.43 222.47-496.9 496.9-496.9 274.45 0 496.93 222.47 496.93 496.9v.01H703.09v-.01z"/>
	</g>
	<path class="stroke-shape" d="M300 1200h1800M1200 1400v400M1341.42 1658.58 1200 1800l-141.42-141.42"/>
</svg>
<!-- fan.svg -->
<svg name="Вентилятор" class="fan js-fan" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<g class="stroke-shape" fill="none">
		<path d="M1487.74 1715.61c166.86 0 302.12-230.42 302.12-514.65 0-284.24-135.26-514.67-302.12-514.67s-302.12 230.43-302.12 514.67c0 284.23 135.26 514.65 302.12 514.65zM250.84 1200c0-45.26 36.83-82.09 82.09-82.09 33.52 0 63.27 19.99 75.98 50.99h323.04c-.38 10.61-.6 21.29-.6 32.06 0 10.12.19 20.16.53 30.12H408.91c-12.71 31.03-42.46 51.03-75.98 51.03-45.26 0-82.09-36.84-82.09-82.11z"/>
		<path d="M1373.52 1715.61h71.7l105.72 183.84c4.09-.55 7.56-.82 10.87-.82 45.28 0 82.11 36.83 82.11 82.11 0 45.26-36.83 82.1-82.11 82.1-45.26 0-82.09-36.84-82.09-82.1 0-18.37 5.99-35.76 17.31-50.33l-123.51-214.8zM1373.52 686.29h71.7l105.72-183.84c4.09.55 7.56.82 10.87.82 45.28 0 82.11-36.83 82.11-82.11 0-45.26-36.83-82.1-82.11-82.1-45.26 0-82.09 36.84-82.09 82.1 0 18.37 5.99 35.76 17.31 50.33l-123.51 214.8z"/>
		<path d="M1487.73 686.29h-454.26c-166.85 0-302.12 230.43-302.12 514.67 0 284.22 135.27 514.65 302.12 514.65h454.26"/>
	</g>
	<path class="fill-shape" d="M1487.7 1273.49c22.23 0 40.25-32.47 40.25-72.53 0-40.05-18.02-72.54-40.25-72.54-22.26 0-40.28 32.49-40.28 72.54 0 40.06 18.02 72.53 40.28 72.53zM1692.77 993.14c74.16 0 61.04 244.67 61.04 280.35 0 35.68-48.46-79.15-108.19-79.15-59.77 0-108.2 42.3-108.2 6.62s52.8-207.82 155.35-207.82zM1374.03 834.9c0-133.61 135.84-109.96 155.66-109.96 19.8 0-43.94 87.26-43.94 194.91 0 107.64 23.49 194.9 3.66 194.9-19.8 0-115.38-95.13-115.38-279.85zM1284.36 1385.93c-74.16 0-61.04-244.68-61.04-280.36 0-35.68 48.43 79.13 108.21 79.13 59.75 0 108.18-42.28 108.18-6.6s-52.78 207.83-155.35 207.83zM1604.02 1566.8c0 133.61-135.84 109.96-155.64 109.96-19.8 0 43.93-87.25 43.93-194.91 0-107.63-23.47-194.89-3.67-194.89 19.82 0 115.38 95.13 115.38 279.84z"/>
</svg>
<!-- filter-red.svg -->
<svg name="Красный фильтр" class="filter-red js-filter-red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<rect fill="#af2626" x="400" y="1140" width="1600" height="120" rx="60"/>
</svg>
<!-- filter-green.svg -->
<svg name="Зелёный фильтр" class="filter-green js-filter-green" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<rect fill="#00a513" x="400" y="1140" width="1600" height="120" rx="60"/>
</svg>
<!-- filter-blue.svg -->
<svg name="Синий фильтр" class="filter-blue js-filter-blue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<rect fill="#006feb" x="400" y="1140" width="1600" height="120" rx="60"/>
</svg>
<!-- flash.svg -->
<svg name="Накамерная вспышка" class="flash js-flash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="fill-shape" d="M1129.99 1046.51h140v-81.94c-21.9 7.73-45.45 11.95-69.99 11.95-24.56 0-48.1-4.22-70.01-11.97v81.96zM1130 1746.49h140v56h-140z"/>
	<g class="stroke-shape" fill="none">
		<circle cx="1200" cy="766.52" r="210"/>
		<path d="M1900 556.54h-514.79c58.12 51.3 94.79 126.35 94.79 209.98 0 83.64-36.67 158.69-94.79 209.99H1900V556.54z"/>
		<circle cx="1200" cy="766.52" r="70"/>
		<rect x="948" y="1046.51" width="504" height="700" rx="70"/>
		<rect x="1018" y="1116.51" width="364" height="560" rx="28"/>
		<path d="M1200 1228.5h182M1200 1298.5h182M1200 1368.5h182M1312.01 1858.49v-28c0-15.4-12.6-28-28.01-28h-167.99c-15.4 0-28 12.6-28 28v28"/>
	</g>
</svg>
<!-- flashlight.svg -->
<svg name="Фонарик" class="flashlight js-flashlight" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="fill-shape" d="M1687.61 1115.01c5.79-45.35 16.09-85.93 29.65-118.7h-254.89c-13.56 32.77-23.86 73.35-29.65 118.7h254.89zM680.2 1129.04c4.8-35.62 13.08-67.45 23.91-93.11h673.84c-10.82 25.66-19.13 57.49-23.91 93.11h-84.86c-1.73-23.77-35.02-42.73-75.85-42.73-40.82 0-74.11 18.96-75.84 42.73H680.2zm-206.53-93.11h155.96c-10.82 25.66-19.11 57.49-23.9 93.11H449.76c4.8-35.62 13.08-67.45 23.91-93.11zm1256.75 255.26c-3.63-28.17-5.63-58.95-5.63-91.19 0-32.24 2-63.02 5.63-91.19 47.84 2.91 85.74 42.63 85.74 91.19 0 48.56-37.9 88.28-85.74 91.19z"/>
	<g class="stroke-shape" fill="none">
		<path d="M1802.2 1488.64c-66.21 0-119.88-129.23-119.88-288.64s53.67-288.64 119.88-288.64h-254.89c-66.21 0-119.88 129.23-119.88 288.64s53.67 288.64 119.88 288.64h254.89z"/>
		<ellipse cx="1802.2" cy="1200" rx="119.88" ry="288.64"/>
		<path d="M771.19 1430.24c-52.81 0-95.62-103.09-95.62-230.24s42.81-230.24 95.62-230.24h673.84c-52.81 0-95.63 103.09-95.63 230.24s42.82 230.24 92.86 230.04l-671.07.2z"/>
		<path d="M540.75 1430.24c-52.81 0-95.62-103.09-95.62-230.24s42.81-230.24 95.62-230.24h155.97c-52.82 0-95.63 103.09-95.63 230.24s42.81 230.24 95.63 230.24H540.75z"/>
		<ellipse cx="1193.33" cy="1130.98" rx="75.91" ry="44.67"/>
	</g>
</svg>
<!-- lightbox-ico.svg -->
<svg class="lightbox-ico js-lightbox-ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<defs>
		<linearGradient id="lightbox-gradient-1380" gradientUnits="userSpaceOnUse" x1="1843.5" y1="1043.23" x2="1211.48" y2="847.36">
			<stop offset="0" style="stop-opacity:1;stop-color:#c7c7c7"/>
			<stop offset=".451" style="stop-opacity:1;stop-color:#c7c7c7"/>
			<stop offset=".631" style="stop-opacity:1;stop-color:#969696"/>
			<stop offset="1" style="stop-opacity:1;stop-color:#5c5c5c"/>
		</linearGradient>
		<linearGradient id="lightbox-gradient-1381" gradientUnits="userSpaceOnUse" x1="877.27" y1="1927.73" x2="867.75" y2="836.14">
			<stop offset="0" style="stop-opacity:1;stop-color:dimgray"/>
			<stop offset="1" style="stop-opacity:1;stop-color:#bababa"/>
		</linearGradient>
		<linearGradient id="lightbox-gradient-1382" gradientUnits="userSpaceOnUse" x1="1527.49" y1="1199.99" x2="1527.49" y2="472.24">
			<stop offset="0" style="stop-opacity:1;stop-color:#ababab"/>
			<stop offset="1" style="stop-opacity:1;stop-color:#e8e8e8"/>
		</linearGradient>
		<linearGradient id="lightbox-gradient-1383" gradientUnits="userSpaceOnUse" x1="1773.46" y1="1443.28" x2="1281.52" y2="956.7">
			<stop offset="0" style="stop-opacity:1;stop-color:#a1a1a1"/>
			<stop offset=".431" style="stop-opacity:1;stop-color:#8c8c8c"/>
			<stop offset=".6" style="stop-opacity:1;stop-color:#6b6b6b"/>
			<stop offset="1" style="stop-opacity:1;stop-color:#404040"/>
		</linearGradient>
	</defs>
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="stroke-shape" style="fill:url(#lightbox-gradient-1380)" d="m1200 1200 654.99 363.87L1200 1927.75z"/>
	<path class="stroke-shape" style="fill:url(#lightbox-gradient-1381)" d="M545.01 836.11 1200 1199.99v727.76l-654.99-363.88z"/>
	<path class="stroke-shape" style="fill:url(#lightbox-gradient-1382)" d="m1200 472.24 654.99 363.87L1200 1199.99 545.01 836.11z"/>
	<path class="stroke-shape" style="fill:url(#lightbox-gradient-1383)" d="M1854.99 836.11 1200 1199.99l654.99 363.88z"/>
</svg>
<!-- lightbox.svg -->
<svg name="Лайт-бокс" class="lightbox js-lightbox" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="fill-shape" d="M1780 660v1220c0 33 27.01 60 60 60 33 0 60-27 60-60V540H500v1340c0 33 27.01 60 60 60 33 0 60-27 60-60V660h1160z"/>
</svg>
<!-- lightbulb.svg -->
<svg name="Лампа накаливания" class="lightbulb js-lightbulb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="fill-shape" d="M896.08 1385.13c.46-9.73 1.2-18.25 1.2-26.76.07-105.58.15-211.16-.14-316.74-.03-10.45 4.79-24.06-9.85-28.72-15.16-4.83-30.3-.25-37.64 13.73-15.13 28.84-30.34 57.76-43.31 87.81-14.21 32.9-25.92 67.11-39.78 100.44 3.18-68.79 24.69-132.19 50.11-197.58-20.18-8.74-40.24-6.59-58.69-3.03-8.36 1.61-16.58 15.64-21.41 26.01-21.28 45.71-41.3 92.13-62.01 138.83 2.99-57.13 23.75-109.08 43.01-165.94-25.57-1.53-47.48-2.75-69.07 1.73-5.64 1.17-11.54 8.96-14.68 15.3-12.1 24.5-23.12 49.65-36.45 78.69-2.48-32.95 14.35-57.43 16.02-86.83-23.89.38-43.13 11.12-60.49 23.95-63.09 46.61-81.68 117.84-67.97 191.04 14.9 79.57 70.17 134.51 145.03 146.41 15.69 2.5 31.68 3.62 47.53 3.72 66 .42 132 .26 198 .14 6.15-.01 12.29-1.27 20.59-2.2zM1263.25 1127.52c-1.93-1.49-3.86-2.99-5.78-4.48 4.02-12.15 7.35-24.6 12.19-36.42 65.07-159.18 283.48-198.86 405.05-93.74 35.52 30.72 54.89 72.5 63.79 119.05-7.36-3.85-12.74-9.08-17.96-14.48-44.08-45.59-97.61-70.87-161.14-71.95-81.25-1.38-157.87 17.68-228.54 58.17-23.27 13.33-45.11 29.16-67.61 43.85z"/>
	<path class="stroke-shape" fill="none" d="M949.6 1053.94c.08-21.17 3.41-24.3 25.04-24.69 19.06-.35 33.08-.06 44.58.3 55.07 1.74 103.32-15.44 147.56-45.08 28.33-18.97 55.17-40.61 80.62-63.35 143.07-127.83 341.75-117.66 466.14-26.3 102.26 75.09 159.2 188.65 159.55 305.18-.35 116.53-57.29 230.09-159.55 305.18-124.39 91.36-323.07 101.53-466.14-26.3-25.45-22.74-52.29-44.38-80.62-63.35-44.24-29.64-92.49-46.82-147.56-45.08-11.5.36-25.52.65-44.58.3-21.63-.39-24.96-3.52-25.04-24.69v-292.12z"/>
</svg>
<!-- photo-umb.svg -->
<svg name="Фотозонт" class="photo-umb js-photo-umb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="stroke-shape" fill="none" d="m2137.29 1200-423.86-112.61M2137.29 1200l-387.84-330.13M2137.29 1200l-344.9-461.1M2137.29 1200l-308.78-538.85M2137.29 1200l-281.73-585.64M2137.29 1200l-423.86-112.61M2137.29 1200l-387.84-330.13M2137.29 1200l-344.9-461.1M2137.29 1200l-308.78-538.85M2137.29 1200l-281.73-585.64M2137.29 1200l-423.86 112.61M2137.29 1200l-387.84 330.13M2137.29 1200l-344.9 461.1M2137.29 1200l-308.78 538.85M2137.29 1200l-281.73 585.64M2137.29 1200l-423.86 112.61M2137.29 1200l-387.84 330.13M2137.29 1200l-344.9 461.1M2137.29 1200l-308.78 538.85M2137.29 1200l-281.73 585.64M1855.56 1785.64c3.64-34.93-3.86-53.56-27.05-46.79 1.87-41.8-5.97-73.09-36.12-77.75 2.53-57.69-4.29-107.59-42.94-130.97 2.09-74.51-6.11-147.56-36.02-217.52 14.1-66.28 14.1-158.94 0-225.22 29.91-69.96 38.11-143.01 36.02-217.52 38.65-23.38 45.47-73.28 42.94-130.97 30.15-4.66 37.99-35.95 36.12-77.75 23.19 6.77 30.69-11.86 27.05-46.79M1574.64 1200H1724M2137.29 1200h32.39M1265.43 1348.31V1057.3H622.5v27.08h-40.62v236.85h40.62v27.08zM1009.51 1057.3l141.47-240.18c4.73.71 9.52 1.1 14.38 1.1 53.19 0 96.24-42.98 96.24-96.16 0-53.1-43.05-96.14-96.24-96.14-53.09 0-96.15 43.04-96.15 96.14 0 22.07 7.46 42.42 20.04 58.68l-162.9 276.56h83.16zM581.88 1164.18H426.76c-14.21-35.35-48.78-60.4-89.24-60.4-53.18 0-96.23 43.13-96.23 96.22 0 53.11 43.05 96.32 96.23 96.32 40.46 0 75.03-25.15 89.24-60.5h155.12v-71.64zM1009.51 1348.31l141.47 240.18c4.73-.71 9.52-1.09 14.38-1.09 53.19 0 96.24 42.97 96.24 96.15 0 53.1-43.05 96.15-96.24 96.15-53.09 0-96.15-43.05-96.15-96.15 0-22.07 7.46-42.42 20.04-58.68l-162.9-276.56h83.16z"/>
	<g class="fill-shape">
		<path d="M1574.65 1437.36V968.23c0-5.73-4.66-10.41-10.41-10.41s-10.42 4.68-10.42 10.41l-2.24 5.62-255.44 62.22v31.03h-30.71v271.41h30.71v31.01l255.76 62.29 1.92 5.55c0 5.75 4.67 10.41 10.42 10.41s10.41-4.66 10.41-10.41zm-252.66-379.96 214.02-55.55v90.46l-214.02 19.38v-54.29z"/>
		<path d="M669.71 1154.18v-47.37h595.72v47.37z"/>
	</g>
</svg>
<!-- reflector-w-grill.svg -->
<svg name="Рефлектор с сотами" class="reflector-w-grill js-reflector-w-grill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<g class="fill-shape">
		<path d="M1942.97 1507.01V900.22c0-7.41-6.01-13.46-13.45-13.46-7.44 0-13.48 6.05-13.48 13.46l-2.91 7.27-330.38 80.48v40.14h-39.73v351.04h39.73v40.11l330.8 80.57 2.49 7.18c0 7.44 6.04 13.46 13.48 13.46s13.45-6.02 13.45-13.46zm-326.79-491.45L1893 943.71v117l-276.82 25.07v-70.22zM772.5 1140.74v-61.27h770.52v61.27zM2100.77 1473.83l-.43-49.31 58.81-.22.43 49.31-58.81.22zm.81 93.47-.44-49.27 58.84-.27.41 49.33-58.81.21zm-1.67-192.05-.4-49.31 58.81-.24.43 49.31-58.84.24zm-.83-98.6-.37-49.31 58.78-.24.43 49.31-58.84.24zm-.83-98.6-.43-49.31 58.83-.24.41 49.29-58.81.26zm-.81-98.62-.43-49.32 58.81-.23.4 49.29-58.78.26zm-.86-98.59-.4-49.3 58.81-.26.43 49.31-58.84.25zm-.84-98.61-.36-49.32 58.74-.21.44 49.29-58.82.24z"/>
	</g>
	<g class="stroke-shape" fill="none">
		<path d="M1543.02 1391.83v-376.4H711.43v35.02H658.9v306.35h52.53v35.03zM1212.01 1015.43l182.98-310.66c6.11.92 12.31 1.42 18.6 1.42 68.79 0 124.47-55.58 124.47-124.38 0-68.67-55.68-124.35-124.47-124.35-68.67 0-124.37 55.68-124.37 124.35 0 28.55 9.66 54.88 25.92 75.91l-210.69 357.71h107.56zM658.89 1153.67H458.25c-18.38-45.72-63.09-78.13-115.42-78.13-68.79 0-124.47 55.79-124.47 124.46 0 68.69 55.68 124.58 124.47 124.58 52.33 0 97.04-32.52 115.42-78.24h200.64v-92.67z"/>
		<path d="m1212.01 1391.83 182.98 310.66c6.11-.92 12.31-1.42 18.6-1.42 68.79 0 124.47 55.58 124.47 124.38 0 68.67-55.68 124.35-124.47 124.35-68.67 0-124.37-55.68-124.37-124.35 0-28.55 9.66-54.88 25.92-75.91l-210.69-357.71h107.56z"/>
	</g>
</svg>
<!-- reflector-w-shutters.svg -->
<svg name="Рефлектор со шторками" class="reflector-w-shutters js-reflector-w-shutters" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<g class="fill-shape">
		<path d="M1832.97 1507.01V900.22c0-7.41-6.01-13.46-13.45-13.46-7.44 0-13.48 6.05-13.48 13.46l-2.91 7.27-330.38 80.48v40.14h-39.73v351.04h39.73v40.11l330.8 80.57 2.49 7.18c0 7.44 6.04 13.46 13.48 13.46s13.45-6.02 13.45-13.46zm-326.79-491.45L1783 943.71v117l-276.82 25.07v-70.22z"/>
		<path d="M662.5 1140.74v-61.27h770.52v61.27z"/>
	</g>
	<g class="stroke-shape" fill="none">
		<path d="M1433.02 1391.83v-376.4H601.43v35.02H548.9v306.35h52.53v35.03z"/>
		<path d="m1102.01 1015.43 182.98-310.66c6.11.92 12.31 1.42 18.6 1.42 68.79 0 124.47-55.58 124.47-124.38 0-68.67-55.68-124.35-124.47-124.35-68.67 0-124.37 55.68-124.37 124.35 0 28.55 9.66 54.88 25.92 75.91l-210.69 357.71h107.56zM548.89 1153.67H348.25c-18.38-45.72-63.09-78.13-115.42-78.13-68.79 0-124.47 55.79-124.47 124.46 0 68.69 55.68 124.58 124.47 124.58 52.33 0 97.04-32.52 115.42-78.24h200.64v-92.67zM1102.01 1391.83l182.98 310.66c6.11-.92 12.31-1.42 18.6-1.42 68.79 0 124.47 55.58 124.47 124.38 0 68.67-55.68 124.35-124.47 124.35-68.67 0-124.37-55.68-124.37-124.35 0-28.55 9.66-54.88 25.92-75.91l-210.69-357.71h107.56zM1687.95 838.14l589.04 60.08M1687.95 1568.22l589.04-60.08"/>
	</g>
</svg>
<!-- reflector.svg -->
<svg name="Рефлектор" class="reflector js-reflector" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="stroke-shape" fill="none" d="M1593.02 1391.83v-376.4H761.43v35.02H708.9v306.35h52.53v35.03zM1262.01 1015.43l182.98-310.66c6.11.92 12.31 1.42 18.6 1.42 68.79 0 124.47-55.58 124.47-124.38 0-68.67-55.68-124.35-124.47-124.35-68.67 0-124.37 55.68-124.37 124.35 0 28.55 9.66 54.88 25.92 75.91l-210.69 357.71h107.56zm-553.12 138.24H508.25c-18.38-45.72-63.09-78.13-115.42-78.13-68.79 0-124.47 55.79-124.47 124.46 0 68.69 55.68 124.58 124.47 124.58 52.33 0 97.04-32.52 115.42-78.24h200.64v-92.67zm553.12 238.16 182.98 310.66c6.11-.92 12.31-1.42 18.6-1.42 68.79 0 124.47 55.58 124.47 124.38 0 68.67-55.68 124.35-124.47 124.35-68.67 0-124.37-55.68-124.37-124.35 0-28.55 9.66-54.88 25.92-75.91l-210.69-357.71h107.56z"/>
	<path class="fill-shape" d="M1992.97 1507.01V900.22c0-7.41-6.01-13.46-13.45-13.46-7.44 0-13.48 6.05-13.48 13.46l-2.91 7.27-330.38 80.48v40.14h-39.73v351.04h39.73v40.11l330.8 80.57 2.49 7.18c0 7.44 6.04 13.46 13.48 13.46s13.45-6.02 13.45-13.46zm-326.79-491.45L1943 943.71v117l-276.82 25.07v-70.22zM822.5 1140.74v-61.27h770.52v61.27z"/>
</svg>
<!-- snoot.svg -->
<svg name="Тубус" class="snoot js-snoot" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="stroke-shape" fill="none" d="M1587.09 1391.82v-376.4H755.51v35.02h-52.54v306.35h52.54v35.03zM1256.08 1015.42l182.99-310.66c6.1.92 12.3 1.42 18.6 1.42 68.79 0 124.47-55.58 124.47-124.38 0-68.67-55.68-124.35-124.47-124.35-68.68 0-124.38 55.68-124.38 124.35 0 28.55 9.66 54.88 25.93 75.91l-210.7 357.71h107.56zm-553.11 138.24H502.33c-18.39-45.72-63.1-78.13-115.42-78.13-68.79 0-124.47 55.79-124.47 124.46 0 68.69 55.68 124.58 124.47 124.58 52.32 0 97.03-32.52 115.42-78.24h200.64v-92.67zm553.11 238.16 182.99 310.66c6.1-.92 12.3-1.42 18.6-1.42 68.79 0 124.47 55.58 124.47 124.38 0 68.67-55.68 124.35-124.47 124.35-68.68 0-124.38-55.68-124.38-124.35 0-28.55 9.66-54.88 25.93-75.91l-210.7-357.71h107.56z"/>
	<path class="fill-shape" d="M816.57 1140.73v-61.27h770.52v61.27zM1973.51 1348.21h178.02v-43.66h178.03v-40.67h178.03v-120.49h-178.03v-40.69h-178.03v-43.66h-178.02v-49.71h-356.03v116.91h-30.39V1281h30.39v116.91h356.03z"/>
</svg>
<!-- soft-box.svg -->
<svg name="Софт-бокс" class="soft-box js-soft-box" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<g class="stroke-shape" fill="none">
		<path d="M1122.38 1337.07v-268.95H528.2v25.03h-37.54v218.89h37.54v25.03z"/>
		<path d="M1800.14 2064.96s-677.76-523.32-677.76-727.89v-268.95c0-197.5 677.76-727.86 677.76-727.86"/>
		<path d="m885.87 1068.12 130.75-221.97c4.36.66 8.79 1.01 13.29 1.01 49.15 0 88.93-39.71 88.93-88.86 0-49.07-39.78-88.86-88.93-88.86-49.07 0-88.87 39.79-88.87 88.86 0 20.4 6.9 39.2 18.52 54.23l-150.54 255.59h76.85zM490.66 1166.9H347.3c-13.13-32.67-45.08-55.82-82.47-55.82-49.15 0-88.94 39.85-88.94 88.92 0 49.08 39.79 89.01 88.94 89.01 37.39 0 69.34-23.23 82.47-55.9h143.36v-66.21zM885.87 1337.07l130.75 221.97c4.36-.66 8.79-1.01 13.29-1.01 49.15 0 88.93 39.71 88.93 88.86 0 49.07-39.78 88.86-88.93 88.86-49.07 0-88.87-39.79-88.87-88.86 0-20.4 6.9-39.2 18.52-54.23l-150.54-255.59h76.85z"/>
	</g>
	<g class="fill-shape">
		<path d="M1167.19 1080.03s106.42-262.75 582.54-636.6v305.06l-421.96 405.61 343.54-470.84-504.12 396.77zM1187.73 1369.24l562 370.35v-128.74z"/>
		<path d="M571.83 1157.66v-43.78h550.55v43.78z"/>
	</g>
	<path class="stroke-shape" fill="#fff7" d="M1953.99 1879.34V526.06l-153.85-185.8v1724.7z"/>
</svg>
<!-- stencil-ico.svg -->
<svg class="stencil-ico js-stencil-ico" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="fill-shape" d="M450 600h1500c27.5 0 50 22.49 50 50v1099.99c0 27.51-22.5 50.01-50 50.01H450c-27.5 0-50-22.5-50-50.01V650c0-27.51 22.5-50 50-50zm1230.18 417.91 53.09 106.51 117.57 17.5-84.89 83.39 19.7 117.24-105.54-54.97-105.41 54.97 19.66-117.36-84.84-83.27 117.67-17.57 52.99-106.44zm-960.36 0-53.07 106.51-117.59 17.5 84.89 83.39-19.7 117.24 105.54-54.97 105.41 54.97-19.66-117.36 84.84-83.27-117.67-17.57-52.99-106.44zm480.18 0 53.09 106.51 117.57 17.5-84.89 83.39 19.7 117.24-105.54-54.97-105.41 54.97 19.66-117.36-84.84-83.27 117.67-17.57 52.99-106.44z"/>
</svg>
<!-- stencil.svg -->
<svg name="Трафарет" class="stencil js-stencil" xmlns="http://www.w3.org/2000/svg" viewBox="0 900 2400 2400">
	<circle class="field-shape" cx="1200" cy="2100" r="1200"/>
	<path class="fill-shape" d="M1100 4100V3050h200v1050c0 55-45 100-100 100s-100-45-100-100zm0-1350v-500h200v500h-200zm0-800v-500h200v500h-200zm0-800V100c0-55 45-100 100-100s100 45 100 100v1050h-200z"/>
</svg>
<!-- tripod-snoot.svg -->
<svg name="Тубус на журавле" class="tripod-snoot js-tripod-snoot" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<g class="stroke-shape" fill="none">
		<path d="m1226.24 1502.38.01-440.28c-9.03 2.14-18.44 3.28-28.12 3.28-9.69 0-19.1-1.14-28.13-3.28v440.27L759.98 1739.1c-28.04-24.99-69.99-30.47-104.29-10.66-42.81 24.71-57.48 79.45-32.76 122.26 24.71 42.8 79.45 57.47 122.26 32.75 34.29-19.8 50.53-58.87 42.91-95.65l410.02-236.71 410.01 236.71c-7.62 36.78 8.62 75.85 42.91 95.65 42.81 24.72 97.55 10.05 122.26-32.75 24.72-42.81 10.05-97.55-32.76-122.26-34.29-19.81-76.25-14.33-104.29 10.66l-410.01-236.72zM538.02 1136.81l-317.63 51.66-27.08-166.53 317.62-51.66 9.04 55.49 557.05-90.61c-.2 2.9-.32 5.84-.32 8.79 0 16.56 3.31 32.35 9.32 46.73l-557.03 90.61 9.03 55.52zm772.2-239.58 1652.75-268.85v56.97L1319.23 952.74c.2-2.9.32-5.83.32-8.79 0-16.55-3.32-32.34-9.33-46.72z"/>
		<path d="M1319.55 943.95c0-67.06-54.36-121.42-121.42-121.42-67.07 0-121.42 54.36-121.42 121.42s54.35 121.42 121.42 121.42c67.06 0 121.42-54.36 121.42-121.42zM2962.97 904.62h240.54V373.2h-22.38v-33.58h-195.77v33.58h-22.39z"/>
	</g>
	<path class="fill-shape" d="M3123.43 412.22h39.15v492.4h-39.15zM2990.84 1151.55v113.77h27.9v113.77h25.99v113.77h77v-113.77h26v-113.77h27.9v-113.77h31.77V924.04h-74.71v-19.42h-98.9v19.42h-74.71v227.51z"/>
</svg>
<!-- window-ico.svg -->
<svg class="window-ico js-window-ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="fill-shape" d="M750 750h400v400H750zm500 0h400v400h-400zm-500 500h400v400H750zm500 0h400v400h-400z"/>
</svg>
<!-- window.svg -->
<svg name="Окно" class="window js-window" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 2400">
	<circle class="field-shape" cx="1200" cy="1200" r="1200"/>
	<path class="fill-shape" d="M338.58 1007.6h765.62l27.04 244.02H582.59L338.58 1007.6zm957.03 0h765.8l-244.01 244.02h-549.02l27.23-244.02zm-661.38 295.65h502.72l18.76 169.2H803.39l-169.16-169.2zm628.42 0h502.95l-169.18 169.2h-352.67l18.9-169.2z"/>
</svg>
<!-- plus.svg -->
<svg class="js-plus-sign" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
<!-- reload.svg -->
<svg class="js-reload-ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M463.5 224H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1c-87.5 87.5-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5z"/></svg>
<!-- circle.svg -->
<svg class="js-circle-ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1">
	<circle cx="0.5" cy="0.5" r="0.5" />
</svg>
<!-- arrows.svg -->
<svg class="js-arrows-ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15000 29700">
	<path d="M13593.8 9400c556.64 0 1066.41-334.87 1289.07-846 222.66-511.12 123.05-1110.37-257.81-1521.62l-6093.8-6580C8261.72 164.51 7892.58.01 7500 .01c-392.58 0-761.72 164.5-1031.26 452.37l-6093.8 6580C-5.92 7443.63-105.53 8042.88 117.13 8554c222.66 511.13 732.42 846 1289.07 846h12187.6zM13593.8 20300.01c556.64 0 1066.41 334.87 1289.07 846 222.66 511.12 123.05 1110.37-257.81 1521.62l-6093.8 6580C8261.72 29535.5 7892.58 29700 7500 29700c-392.58 0-761.72-164.5-1031.26-452.37l-6093.8-6580c-380.86-411.25-480.47-1010.5-257.81-1521.62 222.66-511.13 732.42-846 1289.07-846h12187.6z"/>
</svg>
<!-- close.svg -->
<svg class="js-arrows-ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15000 29700">
	<path d="M13593.8 9400c556.64 0 1066.41-334.87 1289.07-846 222.66-511.12 123.05-1110.37-257.81-1521.62l-6093.8-6580C8261.72 164.51 7892.58.01 7500 .01c-392.58 0-761.72 164.5-1031.26 452.37l-6093.8 6580C-5.92 7443.63-105.53 8042.88 117.13 8554c222.66 511.13 732.42 846 1289.07 846h12187.6zM13593.8 20300.01c556.64 0 1066.41 334.87 1289.07 846 222.66 511.12 123.05 1110.37-257.81 1521.62l-6093.8 6580C8261.72 29535.5 7892.58 29700 7500 29700c-392.58 0-761.72-164.5-1031.26-452.37l-6093.8-6580c-380.86-411.25-480.47-1010.5-257.81-1521.62 222.66-511.13 732.42-846 1289.07-846h12187.6z"/>
</svg>
